<h4>Showing all <%= current_teacher.name %>'s students </h4>

<% if current_teacher %>
    <% @students.each do |student| %>
        <li> <%= link_to student.name, student_path(student) %> </li>
    <% end %>

<% else %>

<% end %>
<br>
<%= link_to 'Go Home', root_path %>
