<h3>All MY Classes </h3>

<ul>
    <% @klasses.each do |klass| %>
        <% if klass.teacher_id == current_teacher.id %>
            <li> <%= klass.name %> </li>
        <% end %>
    <% end %>
</ul>